@charset "utf-8";
/* CSS Document */

body{
	background-color:#e8e8e8;
	background-image:url(../../img/jsfx/tskc_yjtl_bg2.png), url(../../img/jsfx/yjtl_bg.png);
	background-repeat:no-repeat,repeat-x;
	background-position:center 45px,0 34px;
}
.headerbox .logobox{
	background:url(../../img/jsfx/tskc_yjtl_bg1.png) no-repeat bottom right;
}
